# Health Camp Assignment 1

In [11]:
from pyspark import SparkConf, SparkContext, sql

In [14]:
# Question 1
# Read Below files. 
# First_Health_Camp_Attended.csv
# Second_Health_Camp_Attended.csv
# Third_Health_Camp_Attended.csv 

hcamp1 = sc.textFile("file:////Users/cdean4/Downloads/Train/First_Health_Camp_Attended.csv")
hcamp2 = sc.textFile("file:////Users/cdean4/Downloads/Train/Second_Health_Camp_Attended.csv")
hcamp3 = sc.textFile("file:////Users/cdean4/Downloads/Train/Third_Health_Camp_Attended.csv")

In [185]:
# Question 2
# Merge the 3 files into one data frame. 

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

df1 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("file:////Users/cdean4/Downloads/Train/First_Health_Camp_Attended.csv")
df2 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("file:////Users/cdean4/Downloads/Train/Second_Health_Camp_Attended.csv")
df3 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("file:////Users/cdean4/Downloads/Train/Third_Health_Camp_Attended.csv")

df1 = df1.withColumnRenamed("Health_Camp_ID", "Health_Camp_ID1")
df2 = df2.withColumnRenamed("Health_Camp_ID", "Health_Camp_ID2")  
df3 = df3.withColumnRenamed("Health_Camp_ID", "Health_Camp_ID3")

merged = df1.join(df2, ["Patient_ID"]).join(df3, ["Patient_ID"])

In [186]:
df1.show()
df2.show()
df3.show()

+----------+---------------+--------+------------+----+
|Patient_ID|Health_Camp_ID1|Donation|Health_Score| _c4|
+----------+---------------+--------+------------+----+
|    506181|           6560|      40|  0.43902439|null|
|    494977|           6560|      20| 0.097560976|null|
|    518680|           6560|      10| 0.048780488|null|
|    509916|           6560|      30| 0.634146341|null|
|    488006|           6560|      20| 0.024390244|null|
|    492080|           6560|      40| 0.658536585|null|
|    521555|           6560|      30| 0.536585366|null|
|    493258|           6560|      30|  0.12195122|null|
|    515459|           6560|      20| 0.463414634|null|
|    504261|           6560|      30|  0.87804878|null|
|    496350|           6560|      50| 0.585365854|null|
|    509797|           6560|      30| 0.707317073|null|
|    487977|           6560|      40| 0.926829268|null|
|    510500|           6560|      20| 0.073170732|null|
|    505463|           6560|      70| 0.756097561|null|
|    495620|           6560|      20| 0.512195122|null|
|    497120|           6560|      30| 0.292682927|null|
|    504227|           6560|      30| 0.804878049|null|
|    511490|           6560|      20| 0.219512195|null|
|    509188|           6560|      20| 0.170731707|null|
+----------+---------------+--------+------------+----+
only showing top 20 rows

+----------+---------------+------------+
|Patient_ID|Health_Camp_ID2|Health Score|
+----------+---------------+------------+
|    526631|           6536| 0.875135722|
|    509122|           6536| 0.755700326|
|    498864|           6536| 0.673181325|
|    515398|           6536|  0.72204126|
|    504624|           6536| 0.464712269|
|    486444|           6536| 0.587404995|
|    513612|           6536|  0.72204126|
|    493571|           6536| 0.825190011|
|    494559|           6536| 0.963083605|
|    490128|           6536| 0.755700326|
|    495905|           6536|  0.72204126|
|    505834|           6536| 0.897937025|
|    509708|           6536|  0.52660152|
|    491905|           6536| 0.159609121|
|    512463|           6536| 0.755700326|
|    495867|           6536|  0.72204126|
|    497120|           6536| 0.241042345|
|    491435|           6536| 0.499457112|
|    490834|           6536| 0.825190011|
|    493434|           6536| 0.825190011|
+----------+---------------+------------+
only showing top 20 rows

+----------+---------------+-----------------------+-------------------------+
|Patient_ID|Health_Camp_ID3|Number_of_stall_visited|Last_Stall_Visited_Number|
+----------+---------------+-----------------------+-------------------------+
|    517875|           6527|                      3|                        1|
|    504692|           6578|                      1|                        1|
|    504692|           6527|                      3|                        1|
|    493167|           6527|                      4|                        4|
|    510954|           6528|                      2|                        2|
|    501825|           6527|                      2|                        4|
|    495620|           6527|                      1|                        1|
|    526542|           6528|                      2|                        2|
|    517351|           6578|                      3|                        5|
|    517351|           6527|                      3|                        1|
|    518855|           6541|                      1|                        1|
|    518855|           6578|                      6|                        4|
|    518855|           6527|                      6|                        2|
|    486243|           6541|                      5|                        5|
|    490447|           6528|                      3|                        2|
|    521217|           6528|                      4|                        4|
|    527017|           6528|                      4|                        2|
|    527017|           6527|                      1|                        1|
|    498186|           6527|                      6|                        6|
|    528205|           6527|                      5|                        2|
+----------+---------------+-----------------------+-------------------------+
only showing top 20 rows

In [187]:
merged.show()

+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+
|Patient_ID|Health_Camp_ID1|Donation|Health_Score| _c4|Health_Camp_ID2|Health Score|Health_Camp_ID3|Number_of_stall_visited|Last_Stall_Visited_Number|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+
|    526631|           6537|      10| 0.031120332|null|           6536| 0.875135722|           6541|                      3|                        1|
|    509122|           6571|      10| 0.668367347|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6571|      10| 0.668367347|null|           6536| 0.755700326|           6578|                      5|                        5|
|    509122|           6570|      30| 0.375451264|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6570|      30| 0.375451264|null|           6536| 0.755700326|           6578|                      5|                        5|
|    509122|           6554|      20| 0.424855491|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6554|      20| 0.424855491|null|           6536| 0.755700326|           6578|                      5|                        5|
|    509122|           6532|      30| 0.809160305|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6532|      30| 0.809160305|null|           6536| 0.755700326|           6578|                      5|                        5|
|    509122|           6542|      50| 0.897790055|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6542|      50| 0.897790055|null|           6536| 0.755700326|           6578|                      5|                        5|
|    509122|           6580|      40| 0.203846154|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6580|      40| 0.203846154|null|           6536| 0.755700326|           6578|                      5|                        5|
|    509122|           6535|      50| 0.416666667|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6535|      50| 0.416666667|null|           6536| 0.755700326|           6578|                      5|                        5|
|    509122|           6538|      20| 0.039936102|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6538|      20| 0.039936102|null|           6536| 0.755700326|           6578|                      5|                        5|
|    509122|           6581|      30| 0.539325843|null|           6536| 0.755700326|           6527|                      2|                        2|
|    509122|           6581|      30| 0.539325843|null|           6536| 0.755700326|           6578|                      5|                        5|
|    498864|           6562|      10| 0.820224719|null|           6536| 0.673181325|           6578|                      1|                        1|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+
only showing top 20 rows

In [188]:
# Question 3
# Read the below files 
# Patient_Profile.csv
# Health_Camp_Detail.csv

pprof = sc.textFile("file:////Users/cdean4/Downloads/Train/Patient_Profile.csv")
hcampd = sc.textFile("file:////Users/cdean4/Downloads/Train/Health_Camp_Detail.csv")

In [203]:
# Question 4
# Join the resultant from step 2 with Health_Camp_Detail.csv on Health_Camp_ID

df4 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("file:////Users/cdean4/Downloads/Train/Health_Camp_Detail.csv")
df5 = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("file:////Users/cdean4/Downloads/Train/Patient_Profile.csv")

df4 = df4.withColumnRenamed("Health_Camp_ID", "Health_Camp_ID1")
df5 = df5.withColumnRenamed("Health_Camp_ID", "Health_Camp_ID5")
merged2 = merged.join(df4, ["Health_Camp_ID1"])

In [202]:
merged2.show(10)

+---------------+----------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+
|Health_Camp_ID1|Patient_ID|Donation|Health_Score| _c4|Health_Camp_ID2|Health Score|Health_Camp_ID3|Number_of_stall_visited|Last_Stall_Visited_Number|Camp_Start_Date|Camp_End_Date|Category1|Category2|Category3|
+---------------+----------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+
|           6537|    526631|      10| 0.031120332|null|           6536| 0.875135722|           6541|                      3|                        1|      27-Sep-05|    07-Nov-07|    First|        F|        2|
|           6571|    509122|      10| 0.668367347|null|           6536| 0.755700326|           6527|                      2|                        2|      09-Oct-05|    12-Oct-05|    First|        E|        2|
|           6571|    509122|      10| 0.668367347|null|           6536| 0.755700326|           6578|                      5|                        5|      09-Oct-05|    12-Oct-05|    First|        E|        2|
|           6570|    509122|      30| 0.375451264|null|           6536| 0.755700326|           6527|                      2|                        2|      09-Jul-05|    22-Jul-05|    First|        E|        2|
|           6570|    509122|      30| 0.375451264|null|           6536| 0.755700326|           6578|                      5|                        5|      09-Jul-05|    22-Jul-05|    First|        E|        2|
|           6554|    509122|      20| 0.424855491|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Jun-05|    01-Jul-05|    First|        B|        2|
|           6554|    509122|      20| 0.424855491|null|           6536| 0.755700326|           6578|                      5|                        5|      19-Jun-05|    01-Jul-05|    First|        B|        2|
|           6532|    509122|      30| 0.809160305|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Feb-05|    23-Aug-05|    First|        F|        2|
|           6532|    509122|      30| 0.809160305|null|           6536| 0.755700326|           6578|                      5|                        5|      19-Feb-05|    23-Aug-05|    First|        F|        2|
|           6542|    509122|      50| 0.897790055|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Feb-05|    23-Aug-05|    First|        F|        2|
+---------------+----------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+
only showing top 10 rows

In [224]:
# Question 5
# Find the patient response in days and add the column to resultant set of step 4. 
# patient response = Camp_Start_Date - First_Interaction

# get camp_start_date and first_interaction in one df
merged3 = merged2.join(df5, ["Patient_ID"])

# convert date columns from strings to dates
from pyspark.sql.types import DateType
import datetime 
spark_dftest = merged3.withColumn("Maybe",merged3['Camp_Start_Date'].cast(TimestampType()))
#below is the result
spark_dftest.select('Maybe','Camp_Start_date').show(10,False)

+-----+---------------+
|Maybe|Camp_Start_date|
+-----+---------------+
|null |27-Sep-05      |
|null |09-Oct-05      |
|null |09-Oct-05      |
|null |09-Jul-05      |
|null |09-Jul-05      |
|null |19-Jun-05      |
|null |19-Jun-05      |
|null |19-Feb-05      |
|null |19-Feb-05      |
|null |19-Feb-05      |
+-----+---------------+
only showing top 10 rows

In [228]:
# second attemp to convert strings to dates
import datetime

def getTimeDif(startDate, firstInter):
    sDate = datetime.datetime.strptime(startDate, "%d-%m-%y").date()
    eDate = datetime.datetime.strptime(firstInter, "%d-%m-%y").date()
    return str((sDate-eDate).days)+" days"

getTimeDiffUDF = sql.functions.udf(getTimeDif)
all_merged = merged3.withColumn("Patient_Response", getTimeDiffUDF(merged3["Camp_Start_Date"],merged3["First_Interaction"]))

In [229]:
all_merged.printSchema()
all_merged.show()

root
 |-- Patient_ID: integer (nullable = true)
 |-- Health_Camp_ID1: integer (nullable = true)
 |-- Donation: integer (nullable = true)
 |-- Health_Score: double (nullable = true)
 |-- _c4: string (nullable = true)
 |-- Health_Camp_ID2: integer (nullable = true)
 |-- Health Score: double (nullable = true)
 |-- Health_Camp_ID3: integer (nullable = true)
 |-- Number_of_stall_visited: integer (nullable = true)
 |-- Last_Stall_Visited_Number: integer (nullable = true)
 |-- Camp_Start_Date: string (nullable = true)
 |-- Camp_End_Date: string (nullable = true)
 |-- Category1: string (nullable = true)
 |-- Category2: string (nullable = true)
 |-- Category3: integer (nullable = true)
 |-- Online_Follower: integer (nullable = true)
 |-- LinkedIn_Shared: integer (nullable = true)
 |-- Twitter_Shared: integer (nullable = true)
 |-- Facebook_Shared: integer (nullable = true)
 |-- Income: string (nullable = true)
 |-- Education_Score: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- First_Interaction: string (nullable = true)
 |-- City_Type: string (nullable = true)
 |-- Employer_Category: string (nullable = true)
 |-- Patient_Response: string (nullable = true)

Py4JJavaError: An error occurred while calling o2229.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 458.0 failed 1 times, most recent failure: Lost task 0.0 in stage 458.0 (TID 492, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 230, in main
    process()
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 225, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 324, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 139, in dump_stream
    for obj in iterator:
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 313, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 75, in <lambda>
    return lambda *a: f(*a)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-228-041d7868fb34>", line 5, in getTimeDif
  File "/anaconda3/lib/python3.6/_strptime.py", line 565, in _strptime_datetime
    tt, fraction = _strptime(data_string, format)
  File "/anaconda3/lib/python3.6/_strptime.py", line 362, in _strptime
    (data_string, format))
ValueError: time data '27-Sep-05' does not match format '%d-%m-%y'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:83)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:66)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:439)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage6.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$10$$anon$1.hasNext(WholeStageCodegenExec.scala:614)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:253)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1602)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1590)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1589)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1589)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1823)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1772)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1761)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:363)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3273)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3254)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:77)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3253)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2698)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:254)
	at sun.reflect.GeneratedMethodAccessor119.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 230, in main
    process()
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 225, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 324, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 139, in dump_stream
    for obj in iterator:
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 313, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "/Users/musondanyendwa/server/spark-2.3.1-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 75, in <lambda>
    return lambda *a: f(*a)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/util.py", line 55, in wrapper
    return f(*args, **kwargs)
  File "<ipython-input-228-041d7868fb34>", line 5, in getTimeDif
  File "/anaconda3/lib/python3.6/_strptime.py", line 565, in _strptime_datetime
    tt, fraction = _strptime(data_string, format)
  File "/anaconda3/lib/python3.6/_strptime.py", line 362, in _strptime
    (data_string, format))
ValueError: time data '27-Sep-05' does not match format '%d-%m-%y'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:83)
	at org.apache.spark.sql.execution.python.PythonUDFRunner$$anon$1.read(PythonUDFRunner.scala:66)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$12.hasNext(Iterator.scala:439)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage6.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$10$$anon$1.hasNext(WholeStageCodegenExec.scala:614)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:253)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [ ]:
# Question 6
# Find the camp duration in days and add the column to resultant set of step 5. 
# Camp_Duration = Camp_End_Date - Camp_Start_Date

In [209]:
# Question 7
# Delete all the entries where the City_Type = G

#from pyspark.sql.functions import col

noG_df = merged3.select('*').where("City_Type!='G'")
noG_df.show()

+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
|Patient_ID|Health_Camp_ID1|Donation|Health_Score| _c4|Health_Camp_ID2|Health Score|Health_Camp_ID3|Number_of_stall_visited|Last_Stall_Visited_Number|Camp_Start_Date|Camp_End_Date|Category1|Category2|Category3|Online_Follower|LinkedIn_Shared|Twitter_Shared|Facebook_Shared|Income|Education_Score|Age|First_Interaction|City_Type|Employer_Category|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
|    509122|           6571|      10| 0.668367347|null|           6536| 0.755700326|           6527|                      2|                        2|      09-Oct-05|    12-Oct-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6571|      10| 0.668367347|null|           6536| 0.755700326|           6578|                      5|                        5|      09-Oct-05|    12-Oct-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6570|      30| 0.375451264|null|           6536| 0.755700326|           6527|                      2|                        2|      09-Jul-05|    22-Jul-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6570|      30| 0.375451264|null|           6536| 0.755700326|           6578|                      5|                        5|      09-Jul-05|    22-Jul-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6554|      20| 0.424855491|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6554|      20| 0.424855491|null|           6536| 0.755700326|           6578|                      5|                        5|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6532|      30| 0.809160305|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Feb-05|    23-Aug-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6532|      30| 0.809160305|null|           6536| 0.755700326|           6578|                      5|                        5|      19-Feb-05|    23-Aug-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6542|      50| 0.897790055|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Feb-05|    23-Aug-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6542|      50| 0.897790055|null|           6536| 0.755700326|           6578|                      5|                        5|      19-Feb-05|    23-Aug-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6580|      40| 0.203846154|null|           6536| 0.755700326|           6527|                      2|                        2|      22-Dec-04|    06-Jan-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6580|      40| 0.203846154|null|           6536| 0.755700326|           6578|                      5|                        5|      22-Dec-04|    06-Jan-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6535|      50| 0.416666667|null|           6536| 0.755700326|           6527|                      2|                        2|      01-Feb-04|    18-Feb-04|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6535|      50| 0.416666667|null|           6536| 0.755700326|           6578|                      5|                        5|      01-Feb-04|    18-Feb-04|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6538|      20| 0.039936102|null|           6536| 0.755700326|           6527|                      2|                        2|      09-Jan-04|    04-Feb-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6538|      20| 0.039936102|null|           6536| 0.755700326|           6578|                      5|                        5|      09-Jan-04|    04-Feb-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6581|      30| 0.539325843|null|           6536| 0.755700326|           6527|                      2|                        2|      07-Dec-03|    13-Jun-04|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6581|      30| 0.539325843|null|           6536| 0.755700326|           6578|                      5|                        5|      07-Dec-03|    13-Jun-04|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    494559|           6554|      10|  0.12716763|null|           6536| 0.963083605|           6527|                      5|                        1|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              0|             0|              0|     1|             66| 49|        08-Feb-03|        H|             null|
|    494559|           6526|      20| 0.592857143|null|           6536| 0.963083605|           6527|                      5|                        1|      03-Jan-05|    20-Feb-05|    First|        E|        2|              0|              0|             0|              0|     1|             66| 49|        08-Feb-03|        H|             null|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
only showing top 20 rows

In [210]:
# Question 8
# If Number_of_stall_visited is 1 then remove all the records pertaining to the respective Patient_ID. 
new_df = noG_df.select('*').where("Number_of_stall_visited!=1")
new_df.show()

+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
|Patient_ID|Health_Camp_ID1|Donation|Health_Score| _c4|Health_Camp_ID2|Health Score|Health_Camp_ID3|Number_of_stall_visited|Last_Stall_Visited_Number|Camp_Start_Date|Camp_End_Date|Category1|Category2|Category3|Online_Follower|LinkedIn_Shared|Twitter_Shared|Facebook_Shared|Income|Education_Score|Age|First_Interaction|City_Type|Employer_Category|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
|    509122|           6571|      10| 0.668367347|null|           6536| 0.755700326|           6527|                      2|                        2|      09-Oct-05|    12-Oct-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6571|      10| 0.668367347|null|           6536| 0.755700326|           6578|                      5|                        5|      09-Oct-05|    12-Oct-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6570|      30| 0.375451264|null|           6536| 0.755700326|           6527|                      2|                        2|      09-Jul-05|    22-Jul-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6570|      30| 0.375451264|null|           6536| 0.755700326|           6578|                      5|                        5|      09-Jul-05|    22-Jul-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6554|      20| 0.424855491|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6554|      20| 0.424855491|null|           6536| 0.755700326|           6578|                      5|                        5|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6532|      30| 0.809160305|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Feb-05|    23-Aug-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6532|      30| 0.809160305|null|           6536| 0.755700326|           6578|                      5|                        5|      19-Feb-05|    23-Aug-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6542|      50| 0.897790055|null|           6536| 0.755700326|           6527|                      2|                        2|      19-Feb-05|    23-Aug-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6542|      50| 0.897790055|null|           6536| 0.755700326|           6578|                      5|                        5|      19-Feb-05|    23-Aug-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6580|      40| 0.203846154|null|           6536| 0.755700326|           6527|                      2|                        2|      22-Dec-04|    06-Jan-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6580|      40| 0.203846154|null|           6536| 0.755700326|           6578|                      5|                        5|      22-Dec-04|    06-Jan-05|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6535|      50| 0.416666667|null|           6536| 0.755700326|           6527|                      2|                        2|      01-Feb-04|    18-Feb-04|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6535|      50| 0.416666667|null|           6536| 0.755700326|           6578|                      5|                        5|      01-Feb-04|    18-Feb-04|    First|        E|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6538|      20| 0.039936102|null|           6536| 0.755700326|           6527|                      2|                        2|      09-Jan-04|    04-Feb-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6538|      20| 0.039936102|null|           6536| 0.755700326|           6578|                      5|                        5|      09-Jan-04|    04-Feb-05|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6581|      30| 0.539325843|null|           6536| 0.755700326|           6527|                      2|                        2|      07-Dec-03|    13-Jun-04|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    509122|           6581|      30| 0.539325843|null|           6536| 0.755700326|           6578|                      5|                        5|      07-Dec-03|    13-Jun-04|    First|        F|        2|              0|              1|             1|              1|     2|             80| 41|        24-Aug-03|        H|           Others|
|    494559|           6554|      10|  0.12716763|null|           6536| 0.963083605|           6527|                      5|                        1|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              0|             0|              0|     1|             66| 49|        08-Feb-03|        H|             null|
|    494559|           6526|      20| 0.592857143|null|           6536| 0.963083605|           6527|                      5|                        1|      03-Jan-05|    20-Feb-05|    First|        E|        2|              0|              0|             0|              0|     1|             66| 49|        08-Feb-03|        H|             null|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
only showing top 20 rows

In [211]:
# Question 9
# Sort the data based on Camp_Start_Date
#new_df.count().filter("'count'>=10").sort(desc("count"))
from pyspark.sql.functions import desc
new_sort = new_df.sort(desc("Camp_Start_Date"))
new_sort.show()

+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
|Patient_ID|Health_Camp_ID1|Donation|Health_Score| _c4|Health_Camp_ID2|Health Score|Health_Camp_ID3|Number_of_stall_visited|Last_Stall_Visited_Number|Camp_Start_Date|Camp_End_Date|Category1|Category2|Category3|Online_Follower|LinkedIn_Shared|Twitter_Shared|Facebook_Shared|Income|Education_Score|Age|First_Interaction|City_Type|Employer_Category|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
|    508608|           6561|      90| 0.563636364|null|           6536| 0.421281216|           6578|                      2|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     6|             81| 59|        20-Oct-03|        B|       Consulting|
|    524200|           6561|      10| 0.109090909|null|           6534| 0.886650869|           6528|                      2|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              1|              1|             1|              1|     0|           None| 65|        12-Nov-03|        D|       Technology|
|    509188|           6561|      20| 0.745454545|null|           6549| 0.937163375|           6527|                      5|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     1|             67| 56|        06-Mar-03|        F|       Technology|
|    494977|           6561|      10| 0.745454545|null|           6536| 0.673181325|           6578|                      5|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              1|              1|             1|              0|     2|             68| 50|        12-Aug-03|        H|        Transport|
|    509188|           6561|      20| 0.745454545|null|           6549| 0.937163375|           6578|                      3|                        4|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     1|             67| 56|        06-Mar-03|        F|       Technology|
|    509188|           6561|      20| 0.745454545|null|           6536| 0.978284473|           6578|                      3|                        4|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     1|             67| 56|        06-Mar-03|        F|       Technology|
|    494977|           6561|      10| 0.745454545|null|           6555| 0.615827338|           6527|                      2|                        1|      30-Nov-03|    18-Dec-03|    First|        E|        1|              1|              1|             1|              0|     2|             68| 50|        12-Aug-03|        H|        Transport|
|    494977|           6561|      10| 0.745454545|null|           6536| 0.673181325|           6527|                      2|                        1|      30-Nov-03|    18-Dec-03|    First|        E|        1|              1|              1|             1|              0|     2|             68| 50|        12-Aug-03|        H|        Transport|
|    509188|           6561|      20| 0.745454545|null|           6536| 0.978284473|           6527|                      5|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     1|             67| 56|        06-Mar-03|        F|       Technology|
|    494977|           6561|      10| 0.745454545|null|           6555| 0.615827338|           6578|                      5|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              1|              1|             1|              0|     2|             68| 50|        12-Aug-03|        H|        Transport|
|    509188|           6561|      20| 0.745454545|null|           6555| 0.824460432|           6527|                      5|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     1|             67| 56|        06-Mar-03|        F|       Technology|
|    509188|           6561|      20| 0.745454545|null|           6555| 0.824460432|           6578|                      3|                        4|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     1|             67| 56|        06-Mar-03|        F|       Technology|
|    508608|           6561|      90| 0.563636364|null|           6529| 0.161640531|           6578|                      2|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     6|             81| 59|        20-Oct-03|        B|       Consulting|
|    509188|           6561|      20| 0.745454545|null|           6529| 0.884800965|           6527|                      5|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     1|             67| 56|        06-Mar-03|        F|       Technology|
|    509188|           6561|      20| 0.745454545|null|           6529| 0.884800965|           6578|                      3|                        4|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     1|             67| 56|        06-Mar-03|        F|       Technology|
|    528219|           6561|     100| 0.909090909|null|           6536| 0.421281216|           6527|                      2|                        2|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     5|             86| 56|        05-Oct-03|        B|        Education|
|    528219|           6561|     100| 0.909090909|null|           6536| 0.421281216|           6578|                      3|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     5|             86| 56|        05-Oct-03|        B|        Education|
|    493870|           6561|      10| 0.963636364|null|           6523| 0.987012987|           6527|                      5|                        5|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     0|           None| 42|        29-May-03|        C|           Health|
|    493870|           6561|      10| 0.963636364|null|           6523| 0.987012987|           6578|                      5|                        2|      30-Nov-03|    18-Dec-03|    First|        E|        1|              0|              0|             0|              0|     0|           None| 42|        29-May-03|        C|           Health|
|    490407|           6561|      70| 0.781818182|null|           6549| 0.113105925|           6527|                      2|                        3|      30-Nov-03|    18-Dec-03|    First|        E|        1|              1|              1|             0|              1|     1|           None| 74|        14-Nov-03|        I|           Others|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
only showing top 20 rows

In [212]:
# Question 10
# Similar to the step of 8 if the Online_Follower and LinkedIn_Shared 
# and Twitter_Shared and Facebook_Shared are 1 then romove all the records pertaining to that patient id. 

final_df = noG_df.select('*').where("Online_Follower!=1 AND LinkedIn_Shared!=1 AND Twitter_Shared!=1 AND Facebook_Shared!=1")
final_df.show()

+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
|Patient_ID|Health_Camp_ID1|Donation|Health_Score| _c4|Health_Camp_ID2|Health Score|Health_Camp_ID3|Number_of_stall_visited|Last_Stall_Visited_Number|Camp_Start_Date|Camp_End_Date|Category1|Category2|Category3|Online_Follower|LinkedIn_Shared|Twitter_Shared|Facebook_Shared|Income|Education_Score|Age|First_Interaction|City_Type|Employer_Category|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
|    494559|           6554|      10|  0.12716763|null|           6536| 0.963083605|           6527|                      5|                        1|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              0|             0|              0|     1|             66| 49|        08-Feb-03|        H|             null|
|    494559|           6526|      20| 0.592857143|null|           6536| 0.963083605|           6527|                      5|                        1|      03-Jan-05|    20-Feb-05|    First|        E|        2|              0|              0|             0|              0|     1|             66| 49|        08-Feb-03|        H|             null|
|    494559|           6580|      50| 0.776923077|null|           6536| 0.963083605|           6527|                      5|                        1|      22-Dec-04|    06-Jan-05|    First|        E|        2|              0|              0|             0|              0|     1|             66| 49|        08-Feb-03|        H|             null|
|    494559|           6540|      10| 0.542857143|null|           6536| 0.963083605|           6527|                      5|                        1|      01-Nov-04|    04-Nov-04|    First|        E|        2|              0|              0|             0|              0|     1|             66| 49|        08-Feb-03|        H|             null|
|    520196|           6571|      20|  0.12755102|null|           6536| 0.875135722|           6527|                      6|                        5|      09-Oct-05|    12-Oct-05|    First|        E|        2|              0|              0|             0|              0|     0|             80| 44|        04-Jul-03|        E|Software Industry|
|    520196|           6554|      20| 0.052023121|null|           6536| 0.875135722|           6527|                      6|                        5|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              0|             0|              0|     0|             80| 44|        04-Jul-03|        E|Software Industry|
|    520196|           6526|      20| 0.435714286|null|           6536| 0.875135722|           6527|                      6|                        5|      03-Jan-05|    20-Feb-05|    First|        E|        2|              0|              0|             0|              0|     0|             80| 44|        04-Jul-03|        E|Software Industry|
|    520196|           6580|      40| 0.626923077|null|           6536| 0.875135722|           6527|                      6|                        5|      22-Dec-04|    06-Jan-05|    First|        E|        2|              0|              0|             0|              0|     0|             80| 44|        04-Jul-03|        E|Software Industry|
|    520196|           6562|      30| 0.494382022|null|           6536| 0.875135722|           6527|                      6|                        5|      24-Nov-04|    02-Jun-05|    First|        F|        2|              0|              0|             0|              0|     0|             80| 44|        04-Jul-03|        E|Software Industry|
|    520196|           6540|      50| 0.521428571|null|           6536| 0.875135722|           6527|                      6|                        5|      01-Nov-04|    04-Nov-04|    First|        E|        2|              0|              0|             0|              0|     0|             80| 44|        04-Jul-03|        E|Software Industry|
|    520196|           6538|      50|  0.46485623|null|           6536| 0.875135722|           6527|                      6|                        5|      09-Jan-04|    04-Feb-05|    First|        F|        2|              0|              0|             0|              0|     0|             80| 44|        04-Jul-03|        E|Software Industry|
|    522928|           6537|      10| 0.022821577|null|           6536| 0.421281216|           6527|                      6|                        4|      27-Sep-05|    07-Nov-07|    First|        F|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
|    522928|           6537|      10| 0.022821577|null|           6536| 0.421281216|           6578|                      3|                        1|      27-Sep-05|    07-Nov-07|    First|        F|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
|    522928|           6537|      10| 0.022821577|null|           6536| 0.421281216|           6541|                      1|                        1|      27-Sep-05|    07-Nov-07|    First|        F|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
|    522928|           6537|      10| 0.022821577|null|           6536| 0.421281216|           6528|                      1|                        1|      27-Sep-05|    07-Nov-07|    First|        F|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
|    522928|           6543|      30| 0.559854897|null|           6536| 0.421281216|           6527|                      6|                        4|      27-Sep-05|    07-Nov-07|    First|        F|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
|    522928|           6543|      30| 0.559854897|null|           6536| 0.421281216|           6578|                      3|                        1|      27-Sep-05|    07-Nov-07|    First|        F|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
|    522928|           6543|      30| 0.559854897|null|           6536| 0.421281216|           6541|                      1|                        1|      27-Sep-05|    07-Nov-07|    First|        F|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
|    522928|           6543|      30| 0.559854897|null|           6536| 0.421281216|           6528|                      1|                        1|      27-Sep-05|    07-Nov-07|    First|        F|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
|    522928|           6554|      10| 0.080924855|null|           6536| 0.421281216|           6527|                      6|                        4|      19-Jun-05|    01-Jul-05|    First|        B|        2|              0|              0|             0|              0|     1|             66| 41|        25-Jun-04|        E|           Others|
+----------+---------------+--------+------------+----+---------------+------------+---------------+-----------------------+-------------------------+---------------+-------------+---------+---------+---------+---------------+---------------+--------------+---------------+------+---------------+---+-----------------+---------+-----------------+
only showing top 20 rows

In [217]:
# Question 11
# Sort the output in CSV file. 
final_df.write.csv('Final.csv', header=True)